.chatbot-icon {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: var(--secondary-color);
  color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow);
  cursor: pointer;
  transition: var(--transition);
  z-index: 100;
}

.chatbot-icon:hover {
  transform: scale(1.1);
  background-color: #ff8400;
}

.chatbot-icon i {
  font-size: 24px;
}

.chatbot-icon img {
  width: 40px;
  height: 40px;
}
