.course-search-section {
  padding: 3rem 0;
  background: linear-gradient(
    135deg,
    rgba(74, 44, 143, 0.9) 0%,
    rgba(0, 188, 212, 0.8) 100%
  );
  margin-top: 20px;
}
.course-search {
  padding: 2rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: var(--shadow);
  margin: 2rem 0;
}

.search-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.column {
  display: flex;
  margin: 0 10px;
}
.form-group {
  margin: 0rem 1rem 1rem 1rem;
}
.form-group.row1,
.row2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin-right: 2rem;
}
.form-group.row1 {
  margin-left: -2rem;
}
.form-group label {
  display: block;
  font-weight: 500;
  width: 100%;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-family: inherit;
  cursor: pointer;
  width: auto;
}
.form-group #district {
  width: 300%;
  margin-left: 2rem;
}
.form-group #zscore {
  margin-left: 2rem;
}
/* .form-group .subject-label{
  width: auto;
}
.form-group .subject-label + select {
} */
