header {
  background-color: #fff;
  box-shadow: var(--shadow);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 3rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
  width: auto;
  margin-top: -8px;
}

.logo h1 {
  font-size: 1.8rem;
  color: var(--primary-color);
  font-weight: 700;
}
.nav-tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links {
  list-style: none;
  display: flex;
  padding: 0 2rem;
}

.nav-links li {
  margin-left: 2rem;
}
.navbar .btn {
  padding: 6px 20px;
  color: var(--text-color);
}
.navbar .btn:hover {
  background-color: var(--primary-color);
  color: white;
}
.nav-links a {
  color: var(--text-color);
  font-weight: 500;
  position: relative;
  display: flex;
}

.nav-links a:hover {
  color: var(--primary-color);
}

.nav-links a.active {
  color: var(--primary-color);
}

.nav-links a.active::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--primary-color);
}

.nav-toggle {
  display: none;
  cursor: pointer;
  padding: 10px;
  border: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: var(--primary-color);
  transition: all 0.3s ease-in-out;
}

@media (max-width: 880px) {
  .nav-links {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.7rem !important;
    position: absolute;
    height: 100vh;
    width: 250px;
    top: 55px;
    right: 0;
    padding: 5rem 0;
    background-color: #fff;
    box-shadow: var(--shadow);
  }

  .nav-links.active {
    display: flex;
  }

  .nav-toggle {
    display: block;
  }

  .navbar .btn {
    margin-left: auto;
  }
  .nav-tab .btn {
    /* display: none; */
    flex-direction: column;
    align-items: flex-start;
    /* gap: 1.7rem !important; */
    position: absolute;
    top: 60px;
    /* right: 0; */
    /* padding: 5rem 0; */
    margin-left: -8rem;
  }
}

.nav-toggle.active .bar:nth-child(1) {
  transform: rotate(45deg) translateY(11px);
}
.nav-toggle.active .bar:nth-child(2) {
  opacity: 0;
}
.nav-toggle.active .bar:nth-child(3) {
  transform: rotate(-45deg) translateY(-11px);
}
