.about-section {
  padding: 5rem 0;
}

.about-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  align-items: center;
}

.about-image img {
  width: 100%;
  border-radius: 10px;
  box-shadow: var(--shadow);
}

.team-section {
  padding: 5rem 0;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.team-grid .team-member,
.team-grid .member-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-member {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: var(--shadow);
  transition: var(--transition);
  padding-top: 2rem;
  flex-direction: column;
}
.team-member:hover {
  transform: translateY(-10px);
}
.member-image {
  width: 158px;
  height: 158px;
  border-radius: 50%;
  background-color: var(--primary-color);
  margin: 0 auto 0.8rem;
  overflow: hidden;
}
.member-image img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid white;
}
.member-info {
  padding: 1.5rem;
  text-align: center;
}

.member-info h3 {
  color: var(--primary-color);
  margin-bottom: 0.5rem;
}

.member-info p {
  color: #777;
  margin-bottom: 1rem;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.social-links a {
  color: var(--primary-color);
  font-size: 1.2rem;
}
.container .img-unibot {
  width: 15%;
  height: auto;
}
